```{=html}

<div class="research project-list">
  <ul class="list">
    <% for (const item of items) { %>
      <li class="item-entry" <%= metadataAttrs(item) %>>
        
        <div class="metadata">          
          <% if (item.type) { %>
            <p class="type listing-type"><%= item.type %></p>
          <% } %>

          <% if (item.date) { %>
            <p class="date listing-date"><%= item.date %></p>
          <% } %>
        </div>

        <div class="body">  
          <div class="title listing-title">
            <a href="<%- item.path %>"><%= item.title %></a>
          </div>

          <% if (item.author) { %>
            <p class="author listing-author"><%= item.author %></p>
          <% } %>
            
          <% if (item.categories) { %>
            <div class="project-categories listing-categories">
              <% for (const cat of item.categories) { %>
                <div class="project-category"><%= cat %></div>
              <% } %>
            </div>
          <% } %>
        </div>
        
      </li>
    <% } %>
  </ul>
</div>

```