```{=html}

<div class="research project-list">
<ul class="list">
    <% for (const item of items) { %>
    <div class="item-entry">
        
        <div class="metadata">          
            <p class="date"><%= item.date %></p>
            
        </div>

        <div class="body">
            <p class="title"><%= item.title %></p>
            <p class="author"><%= item.author %></p>
            
            <% if(item.categories) { %>
            <div class="project-categories">
                <% for (const cat of item.categories) { %>
                    <div class="project-category"><a href="#category=<%= cat %>">
                            <%= cat %>
                        </a></div>
                    <% } %>
            </div>

        <% } %>
        </div>
        
    </div>
    <% } %>
</ul>
</div>
```
